:root {
    --color-background: #ffffff;
    --color-success: green;
    --color-error: red;
    --color-font: #000000;
    --color-font-headerInfo: #636363;
    --color-border: #e2e2e2;
    --color-list-panel:yellow;
    --color-list-panel-background: #f7f8fb;
    --color-list-panel-hover: #000000;
    /*--color-list-panel-hover-background: #d0def5;*/
    --color-list-panel-hover-background: #dcfcf4;
    --color-list-panel-hover-active: #3d799f;
    --color-list-panel-border: #cfd9e9;
    --color-list-item: #00004b;
    --color-list_item-background: #ffffff;
    --border-radius: 4px;
}

body {
    /*font-family: 'Lato', Arial, sans-serif;*/
    font-family: 'serif', Verdana, sans-serif;
    /*font-size: medium;*/
    /*font-size: larger;*/
    background-color: var(--color-background);
}

.display-inline { display: inline-block;  padding-left: 3px; }
.isOn {color: var(--color-success) }
.isOff {color: var(--color-error) }
.btn {font-size: smaller;}
.margin-left-10px { margin-left: 10px; }
.margin-top-20px { margin-top: 20px; }


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
        FONT AWESOME
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/*
.defaultStackedIconSvg {
    border:1px solid transparent;
    border-radius:5px
}
.defaultStackedIconSvg:hover i:first-of-type {
    color:#5f93e6
}
.defaultStackedIconSvg:active i:first-of-type{
    color:#4f73ff
}
.defaultStackedIconSvg:active i:last-of-type {
    color:#4f73ff
}
.defaultStackedIconSvg i:first-of-type {
    color:lightgrey
}
.defaultStackedIconSvg i:last-of-type {
    color:darkslategray
}
.slow-spin {
    -webkit-animation: fa-spin 12s infinite linear;
    animation: fa-spin 12s infinite linear;
}
*/

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
        GENERAL STYLING
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

ul {
    max-height: 85vh;
    border: 2px solid var(--color-list-panel-border);
    border-radius: var(--border-radius);
    background: var(--color-list-panel-background);
    overflow: auto;
    list-style-type: none;
    padding-left: 0;
}
ul li {
    background: var(--color-list_item-background);
    color: var(--color-list-item);
    font-size: medium;
    border: 1px solid var(--color-list-panel-border);
}
ul li:hover {
    color: var(--color-list-panel-hover);
    background-color: var(--color-list-panel-hover-background);
}
ul li:active {
    color: var(--color-list-panel-hover);
    background-color: var(--color-list-panel-hover-active);
}
ul li p {
    width: 25vw;
    max-width: 30vw;
    margin: 0;
}

/* dont style href on index page */
.noHrefStyling li a {
    color: inherit;
    text-decoration: inherit; /* no underline */
}
.noHrefStyling li a:hover { all: unset; }

.defaultSection {
    width: 100%;
    border: 1px solid #d1d1d1;
}



#infoPanel {
    height: 70vh;
    background: var(--color-list-panel-background);
}
#infoPanel #infoList {
    padding: 10px;
    width: 100%;
    height: 70vh;
}
#infoList {
    background: var(--color-list-panel-background);
    overflow: auto;
    list-style-type: none;
    padding-left: 0;
}
#infoList li {
    max-width: 45vw;
    background: var(--color-list-panel-background);
    color: var(--color-list-item);
    font-size: smaller;
    padding: 4px 4px 4px 8px;   /* TRBL */
}
#infoList li:hover {
    color: var(--color-list-panel-hover);
    background-color: var(--color-list-panel-hover-background);
}
#infoList li:active {
    color: var(--color-list-panel-hover);
    background-color: var(--color-list-panel-hover-background);
}
#infoList li textarea{
    width: 100%;
    color: var(--color-list-item);
    resize: none;
    border: none;
}
#infoList li textarea:hover{
    background-color: var(--color-list-panel-hover-background);
}
