:root {
    --color-background: #ffffff;
    --color-success: green;
    --color-error: red;
    --color-font: #000000;
    --color-font-headerInfo: #636363;
    --color-border: #e2e2e2;
    --color-list-panel:yellow;
    --color-list-panel-background: #f7f8fb;
    --color-list-panel-hover: #000000;
    --color-list-panel-hover-background: #f1f6ff;
    --color-list-panel-active: #ffffff;
    --color-list-panel-active-background: #2828ff;
    --color-list-panel-active-border: #86a0ff;
    --color-list-panel-border: #cfd9e9;
    --color-list-item: #00004b;
    --color-list_item-background: #ffffff;
    --border-radius: 4px;

    /*--bs-body-font-size: 0.7rem !important;*/
}

body {
    /*font-family: 'Lato', Arial, sans-serif;*/
    font-family: 'serif', Verdana, sans-serif;
    background-color: var(--color-background);
}

label { font-weight: bold; }
.display-inline { display: inline-block;  padding-left: 3px; }
.display-none { display: none; }
.isOn {color: var(--color-success) }
.isOff {color: var(--color-error) }
.btn {font-size: smaller;}
.margin-left-10px { margin-left: 10px; }
.margin-left-20px { margin-left: 20px; }
.margin-left-30px { margin-left: 30px; }
.margin-top-20px { margin-top: 20px; }
.margin-top-10px { margin-top: 10px; }
.margin-top-5px { margin-top: 5px; }
.font-size-default { font-size: smaller; }
.font-size-small { font-size: small; }
.font-size-smallest { font-size: x-small; }
.float-right { float:right; }

.columnContainer{
    border: 1px solid darkgray;
    margin: 5px;
    padding: 5px;
    background-color: lightblue;
}
.sectionArea{
    background-color: var(--color-background);
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
        FONT AWESOME
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
.inputGroup {
    border: 1px solid #cecece;
    border-radius: 8px;
}


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
        GENERAL STYLING
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
textarea {
    height: 100%;
    width: 100%;
    color: var(--color-list-item);
    resize: none;
    border: none;
    overflow: auto;
    outline: none;
}

ul {
    max-height: 85vh;
    border: 2px solid var(--color-list-panel-border);
    border-radius: var(--border-radius);
    background: var(--color-list-panel-background);
    overflow: auto;
    list-style-type: none;
    padding-left: 0;
}
ul li {
    background: var(--color-list_item-background);
    color: var(--color-list-item);
    font-size: medium;
    border: 2px solid var(--color-list-panel-border);
    border-radius: var(--border-radius);
}
ul li:hover {
    color: var(--color-list-panel-hover);
    background-color: var(--color-list-panel-hover-background);
}
ul li:active {
    color: var(--color-list-panel-hover);
    background-color: var(--color-list-panel-active);
}
ul li p {
    width: 25vw;
    max-width: 30vw;
    margin: 0;
}


/* dont style href on index page */
.noHrefStyling li a {
    color: inherit;
    text-decoration: inherit; /* no underline */
}
.noHrefStyling li a:hover { all: unset; }
.isSelected { border: 2px solid var(--color-list-panel-active-border); }


.defaultSection {
    width: 100%;
    border: 1px solid #d1d1d1;
    background-color: var(--color-background);
}



#infoPanel {
    height: 70vh;
    background: var(--color-list-panel-background);
}
#infoPanel #infoList {
    padding: 10px;
    width: 100%;
    height: 70vh;
}
#infoList {
    background: var(--color-list-panel-background);
    overflow: auto;
    list-style-type: none;
    padding-left: 0;
}
#infoList li {
    max-width: 45vw;
    background: var(--color-list-panel-background);
    color: var(--color-list-item);
    font-size: smaller;
    padding: 4px 4px 4px 8px;   /* TRBL */
}
#infoList li:hover {
    color: var(--color-list-panel-hover);
    background-color: var(--color-list-panel-hover-background);
}
#infoList li:active {
    color: var(--color-list-panel-hover);
    background-color: var(--color-list-panel-hover-background);
}
#infoList li textarea{
    width: 100%;
    color: var(--color-list-item);
    resize: none;
    border: none;
}
#infoList li textarea:hover{
    background-color: var(--color-list-panel-hover-background);
}



/* Fade-in fade-out */
.elementToFadeInAndOut {
    width:110px;
    height: 22px;
    text-align: center;
    border: 1px solid greenyellow;
    border-radius: 5px;
    -webkit-animation: fadeinout 3s linear forwards;
    animation: fadeinout 3s linear forwards;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}



/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    body { background-color: #f9c4c4; }
    .ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front { width: 90%; }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    body { background-color: #f9f9b7; }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    body { background-color: #c7c7f9; }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    body { background-color: #c2f7c2; }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    body { background-color: #f2f2f2; }
}


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
        DATATABLES CUSTOMIZATION
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* Table row font size */
table.dataTable td {
    font-size: 0.8rem !important;
}
table.dataTable tr.dtrg-level-0 td {
    font-size: 0.8rem !important;
}


/*#projectTable tbody tr.even:hover {*/
#projectTable tbody tr:hover {
    background-color: #8ad975;
    cursor: pointer;
}
#projectTable tr.even:hover td.sorting_1 {
    background-color: #8ad975;
    cursor: pointer;
}


