
/*  Main menu  */
#mainMenu ul {
    width: 30vw;
}

.section-height {
    height: 30vh;
    max-height: 30vh;
}

.pricelineBtn {
    text-align: center;
    height: 100px;
    width: 250px;
    margin: 20px;
}

#url2sectionsTextArea {
    height: 20vh;
    /*width: 80vh;*/
    width: 100%;
}
#url2SectionValueResultContainer{
    overflow: auto;
}
#url2sectionsResultSection {
    height: 20vh;
    width: 85vh;
}