<div id="tracfoneDisclosure" style="background: #e7eef5; border-radius: 10px !important; width: 285px !important; font-size: 13px; font-family: inherit;">
  <p style="font-size: 18px;">Thank you for visiting Tracfone today. How may I help you?</p>
  <p style="font-style: italic; margin-top: -20px;">
    By chatting with us, you grant us permission to review your services during the chat to offer the best value. Refusing to chat will not affect your current services. It is your right and our duty to protect your account information. We may monitor and retain  your chat to help improve and personalize our services. For more information see our <span style="font-weight: bold;">Privacy Policy</span> or California Customers can also view our
    <span style="font-weight: bold;">California Privacy Notice</span>.
  </p>
  <p style="font-style: italic; margin-top: -15px;">
    To protect your privacy, please do not send sensitive information (passwords,
    credit card numbers, etc.) through this chat. If we need it, we will use a
    secure process.
  </p>
</div>
