<div xmlns="http://www.w3.org/1999/html">
    <p>Go Smart</p>
    <a class="btn btn-primary" href="#chat-button" target="" title=""><strong>CHAT WITH US</strong></a>
    </br>
    <p>Net10</p>
    <a href="#chat-button" target="_blank" aria-describedby="audioeye_new_window_message" class="btn btn-secondary">CHAT
        WITH US</a>
    </br>
    <p>Tracfone</p>
    <div class="button_track button large primary-btn mt-20" style="cursor: pointer;">
        <button role="link" class="btn" href="" data-gtm-cta="chat_with_us"
                aria-label="chat with us in real-time to get fast answers" style="cursor: pointer;">Chat With Us
        </button>
    </div>
    </br>
    <p>Straight Talk</p>
    <div class="button large primary-btn text-center pt-40 pb-40 aem-GridColumn aem-GridColumn--default--12">
        <a data-gtm-cta="chat_with_us" class="btn" target="_self"
           aria-label="chat with us in real-time to get fast answers" rel="follow" href="">CHAT WITH US</a>
    </div>
    </br>
    <p>TBV</p>

    <div class="button large secondary-black-outline-btn aem-GridColumn aem-GridColumn--default--12">
        <a data-gtm-cta="chat_with_us" class="btn" target="_self"
           aria-label="chat with us in real-time to get fast answers" rel="follow" href="">Chat Now</a>
    </div>
    </br>
    <p>SM</p>
    <a href="#chat-button" target="_blank" aria-describedby="audioeye_new_window_message"
           class="btn tf-btn-primary">CHAT WITH US</a></br>
    <p>WFM</p>
    <div>
        <a href="#chat-button" class="btn btn-primary btn-lg">CHAT WITH US</a>
    </div>

</div>